.sectDroite{
    border: 1px solid black;   
    //height: 760px; 
    //padding-right: 26px;
    padding-bottom: 5px
    
}

.sectGauche{
    border: 1px solid black;  
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.myFooter{
    text-align: center;
    border: 1px solid black;
}
.article{
    padding-left: 10px;
}
.LiP{
    list-style: none;
    padding-top: 1px;
}
.LargP{
    padding-right: 25px;
}
.LargOl{
    padding-right: 25px;
    margin-top: 2px;
    
}

img{
    margin-bottom: 5px;
}