*{
    margin: 0px;
    padding: 0px;
}
.sectDroite{
    border: 1px solid black;   
    height: 750px; 
}

.sectGauche{
    border: 1px solid black;  
    height: 200px;
}

#rubiks2D{
    display: block;
}

.inlineBlock{
    display: inline-block;
}

.myFooter{
    text-align: center;
    border: 1px solid black;
    margin-top: 5px;
}
body{
   // padding-top: 60px;
}
.article{
    padding-left: 15px;
}
.LiP{
    list-style: none;
    padding-top: 1px;
}

div.vignette {
    float: left;
    margin: 0px 10px 10px 0px;
}